<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TapTiles</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/sessions.js"></script>
    <script src="js/leaderboard.js"></script>
</head>

<body>
<div id="loading-screen" class="loading-screen">
    <div class="loader"></div>
</div>

<header class="site-header">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="site-header-text" href="/taptiles">
            <i class="bi-box"></i><span>TapTiles</span>
        </a>
        <div class="d-flex justify-content-center flex-grow-1">
            <a class="site-header-text mx-3" href="/taptiles/leaderboard">Leaderboard</a>
            <a class="site-header-text mx-3" href="/taptiles/rating">Rating</a>
            <a class="site-header-text mx-3" href="/taptiles/comment">Comment</a>
        </div>
        <a id="logout-link" class="site-header-text" onclick="logout()" style="display:none;">Logout</a>
    </div>
</header>

<main id="video-container">
    <a onclick="window.location.href = '/taptiles/play'" id="side-play-button">
        <img src="images/next.png" alt="Play">
    </a>
    <div id="leaderboard-content" class="view-active">
        <div class="container d-flex justify-content-center align-items-center" style="min-height:100vh;">
            <div class="leaderboard-container p-4 rounded">
                <h1 class="text-center mb-4">Top 10 Players</h1>
                <ul class="list-group">
                    <th:block th:each="score : ${topPlayers}">
                        <li class="group-item d-flex justify-content-between align-items-center">
                            <span class="site-header-text mx-3" th:text="${score.player}">Player</span>
                            <span class="site-header-text mx-3" th:text="${score.points}">Points</span>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>

    <video autoplay loop muted class="video-background">
        <source src="videos/video.mp4" type="video/mp4">
    </video>
</main>

</body>
</html>
